.aside-bar {
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    color: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
}

.aside-bar div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside-bar div img {
    margin-block: 10px;
    width: 40px;
    cursor: pointer;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.aside-bar svg {
    font-size: 1.3em;
    display: block;
    margin: 15px 0;
    cursor: pointer;
}

.aside-bar svg:hover {
    color: #0d6efd
}
